/*color Swatch*/
/*https://coolors.co/export/copic/ffffff-e7e7e7-b9b9b9-878787-000000*/
col {
  backgroundColor:'#878787';
}
Row{
	backgroundColor:'rgba(231, 231, 231, 0.9)',
	/*backgroundColor:'#E7E7E7';*/
}
Footer{
	backgroundColor:'white';
}
button{
	backgroundColor:'rgba(135, 135, 135, 0.6)',
	/*backgroundColor:'#878787'*/
}
form, li{
	backgroundColor:'rgba(185, 185, 185, 0.6)',
	/*backgroundColor:'#B9B9B9';*/
}
