@charset "UTF-8";
/* CSS Document */
		.container{
			border:5px solid black;
			border-radius: 25px;
			text-align: center;
			width:400px;
			margin: 3% 0% 0% 7%;
			background-color: orange;
		}
		#list{
			text-align: left;
			font-variant-caps:unicase;
			color:white;
			font-weight: bold;
		}
		p{
			color:lightgoldenrodyellow;
			margin: 3% 7% 3% 7%;
		}
		input[type="text"], button{
			background-color: lightgoldenrodyellow;
			border-radius:3px;
			border:none;
			height: 25px;
		}
